body {
    font-family: "EB Garamond", serif;
    font-size: 10px;
    line-height: 1.2;
    font-weight: 700;
}

hr {
    border: 0;
    background-color: gray;
    margin: .2rem;
    height: 1px
}

ul {
    margin-bottom: 0;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, 240px)
}

.chalk-card {
    width: 2.5in;
    height: 3.5in;
    border: .4rem solid #000;
    border-bottom: 1rem solid #000;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
}

.chalk-card-section {
    border-style: ridge;
    border-radius: .4rem;
}

.chalk-card-section-lightbg {
    background-color: #f0f0f0;
}

.chalk-card-title-section,
.chalk-card-type {
    margin-left: .1rem;
    margin-right: .1rem;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    padding: 0 .25rem
}

.chalk-card-title-section {
    margin-top: .25rem
}

.mana-cost-div {
    display: flex;
    flex-direction: row;
}

.cost-circle {
    border-radius: 50%;
    width: 0.8rem;
    height: 0.8rem;
    background: lightgray;
    border-width: 1px;
    border-style: ridge;
    color: #000;
    text-align: center;
}

.cost-mana {
    width: 0.8rem;
    height: 0.8rem;
}

.chalk-card-image-div {
    width: 2.3in;
    height: 1.8in;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0
}

.chalk-card-img {
    width: 100%;
    height: 100%
}

.material-symbols-outlined {
    font-size: 0.75rem;
}

.chalk-card-desc {
    display: flex;
    margin-bottom: .5rem;
    margin-left: .1rem;
    margin-right: .1rem;
    padding: .25rem;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: #f0f0f0;
}

.chalk-card-desc-main-text {
    font-weight: 600
}

.chalk-card-desc-flavor-text {
    font-weight: 500;
    font-style: italic
}

/* CARD COLORS */
/* https://www.heavy.ai/blog/12-color-palettes-for-telling-better-stories-with-your-data */

.chalk-card-black {
    background: linear-gradient(135deg, #d7e1ee 0%, #222222 20%);
}

.chalk-card-section-black {
    background-color: #d7e1ee;
}

.chalk-card-red {
    background: linear-gradient(135deg, #d7e1ee 0%, #ea5545 20%);
}

.chalk-card-section-red {
    background-color: #d7e1ee;
}

.chalk-card-white {
    background: linear-gradient(135deg, #d7e1ee 0%, #edbf33 20%);
}

.chalk-card-section-white {
    background-color: #d7e1ee;
}

.chalk-card-green {
    background: linear-gradient(135deg, #d7e1ee 0%, #76c68f 20%);
}

.chalk-card-section-green {
    background-color: #d7e1ee;
}

.chalk-card-blue {
    background: linear-gradient(135deg, #d7e1ee 0%, #27aeef 20%);
}

.chalk-card-section-blue {
    background-color: #d7e1ee;
}