body {
    /* font-family: 'Lora', serif; */
    font-family: 'Josefin Sans', sans-serif;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, 240px);
}

/* CARD */
.playing-card {
    width: 240px;
    height: 336px;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 5px;
}

.card-title {
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 0;
    align-self: center;
}

.card-title-div {
    display: flex;
    justify-content: left;
    padding-top: 0.3rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.card-text {
    font-style: italic;
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.cost-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto
}

.star-icon {
    font-size: 2.6rem;
    color: gold
}

.card-cost {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.8rem;
    color: rgb(0, 0, 0);
    translate: 1.55rem 0.15rem;
    font-weight: bold;
}

/*
.stars-div {
    height: 1.5rem;
} */

/* END CARD  */

/* CHORE TYPES */
.cleaning {
    /* background-color: #def3fd; */
}

.laundry {
    /* background-color: #fcf7de; */
}

/* 
TODO: Other colors:
    - Red: #fddfdf
    - Purple: #f0defd
    - Green: #defde0
*/

/* END CHORE TYPES */